@keyframes open {
    from {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        display: none;
    }
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@keyframes close {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    to {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        display: none;
    }
}


@keyframes headerAnimationOpen {
    from {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        display: none;
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes headerAnimationClose {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        display: flex;
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        display: none;
        opacity: 0;
    }
}


.invisible{
    visibility: initial;
}
.headerAnimationOpen {
    animation: headerAnimationOpen 0.3s ease-in-out forwards;
}

.headerAnimationClose {
    animation: headerAnimationClose 0.3s ease-in-out forwards;
}

.open {
    animation: open 0.2s ease-in-out forwards;
}

.close {
    animation: close 0.2s ease-in-out forwards;
}

.animationNone {
    display: none;
}
.animation {
    display: flex;
}

@media (width >=1160px) {
    .headerAnimationClose {
        animation: headerAnimationClose 0.3s ease-in-out forwards;
    }
}
