@keyframes open {
    from {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
        position: absolute;
    }
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes close {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
        position: absolute;
    }
}


@keyframes headerAnimationOpen {
    from {
        -webkit-transform: translateY(-400px);
        -moz-transform: translateY(-400px);
        -o-transform: translateY(-400px);
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(470px);
        -moz-transform: translateY(470px);
        -o-transform: translateY(470px);
        transform: translateY(470px);
        opacity: 1;
    }
}


@keyframes headerAnimationClose {
    from {
        -webkit-transform: translateY(470px);
        -moz-transform: translateY(470px);
        -o-transform: translateY(470px);
        transform: translateY(470px);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(-400px);
        -moz-transform: translateY(-400px);
        -o-transform: translateY(-400px);
        transform: translateY(-400px);
        opacity: 0;
    }
}


.headerAnimationOpen {
    animation: headerAnimationOpen 0.3s ease-in-out forwards;
}

.headerAnimationClose{
    animation: headerAnimationClose 0.3s ease-in-out forwards;
}

.invisible{
    visibility: initial;
}


.open {
    animation: open 0.3s ease-in-out forwards;
    display: flex;
}

.close {
    animation: close 0.3s ease-in-out forwards;
}
